stages:
  - deploy

pages:
  stage: deploy
  image: "gitlab-registry.in2p3.fr/sonny.lion/astro-chef:1.0.0"
  script:
    # copy recettes directory to the app directory inside the container
    - cp -r ./recettes $APP_DIR/recettes
    - cd $APP_DIR
    - yarn build
    # move the generated dist directory to the project root for GitLab Pages
    - mv dist $CI_PROJECT_DIR/dist
  pages:  # spécifie le répertoire à publier (par défaut 'public/')
    publish: dist
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
    - if: $CI_COMMIT_TAG
